<h2>
    Community Meetup
<!-- 
    <span class="label label-danger"><strong>ON AIR</strong></span>
    <span class="label label-warning"><strong>STANDBY</strong></span>
 -->
</h2>

<p>Hola, cada mes organizamos un encuentro virtual justo en esta p치gina. Es nuestro modo de ense침ar los conceptos det치s de la programaci칩n funcional reactiva, para mostrar lo que nuestra comunidad ha hecho y compartir oportunidades con gente que quiere empezar con el open-source. Invertimos en ti, con la esperanza de que te quedes y <a href="/contribute">contribuyas</a>. Mientras tanto, porque no te unes a nosotros en <a href="/slack">Slack</a>?</p>

<!-- 
<div id="nextShowDetails"
        data-utc-year="Model.NextShowDateUtc.Value.Year"
        data-utc-month="(Model.NextShowDateUtc.Value.Month-1)"
        data-utc-day="Model.NextShowDateUtc.Value.Day"
        data-utc-hour="Model.NextShowDateUtc.Value.Hour"
        data-utc-min="Model.NextShowDateUtc.Value.Minute">

    <p>Come back to this page on the <strong data-part="showTime" class="hidden">Model.NextShowDateUtc.Value.ToString("u")</strong> which is in <strong><span data-part="countdown"></span></strong>.</p>
</div>
 -->

<!-- 
<div class="btn-group">
    <button id="addToCalendar" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to calendar <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-left  text-center" aria-labelledby="addToCalendar">
        <li><a asp-controller="Meetup" asp-action="GetiCal" asp-protocol="https">Download iCalendar (ICS) file</a></li>
        <li><a asp-controller="Meetup" asp-action="GetiCal" asp-protocol="webcals">Add using webcal</a></li>
        <li><a href="Model.AddToGoogleUrl" target="_blank">Add to Google Calendar</a></li>
    </ul>
</div>
-->

